# Xcode Project Files
xcuserdata
UserInterfaceState.xcuserstate

# Ignore UNIX Executables
chlorine
clinfo

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dSYM

# Compiled Static libraries
*.lai
*.la
*.a
